:root {
    font-family:Arial, Helvetica, sans-serif;
    --white: #fafafa;
    --light-grey: #d4d4d4;
    --bold-grey: #a1a1aa;
    --light-black: #3f3f46;
    --black: #0a0a0a;
}

body {
    background-color: rgba(177, 167, 167, 0.26);
    padding: 2vh 15vw;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: 600;
    padding-top: 10px;
}

input {
    max-width: 300px;
    margin-bottom: 5px;
    border: 2px solid black;
    box-shadow: 4px 4px 4px rgba(177, 167, 167, 0.26);
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.your.cv {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.479);
}

.yourResume {
    background-color: var(--white);
    width: 80%;
    height: 90%;
    padding: 5vh 5vw;
    border: 5px solid var(--black);
    border-radius: 4px 4px;
    box-shadow: 8px 8px 8px rgba(110, 105, 105, 0.336)
}

.cv-header {
    padding: 0;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    gap: 15%;
}

.header-description {
    max-width: 350px;
    font-style: italic;
}

.general.view {
    border-right: 2px solid rgba(177, 167, 167, 0.26)
}

.general.edit {
    display: flex;
    flex-direction: column;
    
}

.contact.noedit > * {
    text-align: center;
}

.contact.button-edit {
    display: block;
    margin: 0 auto;
}

.exp.form,
.edu.form {
    display: flex;
    flex-direction: column;
}

.experience.list[id="true"] {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.experience.list[id="false"] {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    list-style-type: none;
}

.experience.list[id="false"] .exp.div:nth-child(odd){
    border-right: 2px solid rgba(0, 0, 0, 0.178);
    margin-right: 2vw;
}

.exp.div {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
}

.exp.div > div {
    margin: 0 auto;
}

.exp.start {
     text-align: center;
     font-style: italic;
     margin-bottom: 0;
     font-weight: 600;
     padding-bottom: 16px;
}

.exp.end {
    padding-top: 16px;
    margin-top: 0;
    text-align: center;
    border-top: 2px solid rgba(177, 167, 167, 0.26);
    font-style: italic;
    font-weight: 600;
}

.exp.cargo {
    font-weight: 800
}

.cv-exp.form,
.edu.form {
    max-width: 400px;
    padding: 24px;
    border: 2px solid var(--light-black);
    box-shadow: 4px 4px rgba(0, 0, 0, 0.178);
    margin: 0 auto;
}

.exp.form {
    display: flex;
}

.add.exp, 
.edu.exp {
    display:block;
    text-align: center;
    margin: 0 auto;
}

#experience,
#education {
    margin-top: 32px;
    margin-left: 10vw;
    margin-right: 10vw;
    padding-bottom: 16px;
    border-bottom: 2px solid rgba(177, 167, 167, 0.26);
    text-align: center;
    font-size: clamp(1em, 1.5em, 2em);
}

.exp.form textarea,
.header-description.edit {
    resize: none;
    border: 2px solid black;
    box-shadow: 4px 4px 4px rgba(177, 167, 167, 0.26);
    max-width: 400px;
    max-height: 300px;
    margin-bottom: 5px;
}

#contact {
    text-align: center;
}

#general,
#contact {
    margin-top: 16px;
    font-size: clamp(1em, 1.5em, 2em);
}

.form.submit, .cancel.exp,
.cancel.edu {
    cursor: pointer;
    margin-right: 10px;
    max-width: 100px;
    margin-top: 16px;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(177, 167, 167, 0.26);
    border: 2px solid black;
    border-radius: 4px;
}

.edit.button, 
.contact.button-edit,
.add.exp, .edu.exp, 
.exp.remove, .edu.remove,
.exp.edit, .edu.edit {
    cursor: pointer;
    background-color: white;
    text-align: center;
    padding: 5px 10px;
    box-shadow: 2px 2px 2px rgba(177, 167, 167, 0.26);
    border: 2px solid black;
    border-radius: 4px;
}

.exp.edit, .edu.edit {
    margin-left: 16px;
}

.education.list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.edu.university {
    font-weight: 800;
}