:root {
    font-family:Arial, Helvetica, sans-serif;
    --white: #fafafa;
    --light-grey: #d4d4d4;
    --bold-grey: #a1a1aa;
    --light-black: #3f3f46;
    --black: #0a0a0a;
}

body {
    background-color: var(--white);
    padding: 2vh 15vw;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.yourResume {
    width: 80%;
    height: 90%;
    padding: 2vh 5vw;
    border: 4px solid var(--black);
}

.cv-header {
    padding: 0;
    display: flex;
    flex-direction: row;
}

.general.view {
    padding-right: 20vw;
}

.general.edit {
    display: flex;
    flex-direction: column;
    padding-right: 20vw;
}

#general,
#contact,
#experience,
#education {
    margin-top: 16px;
    font-size: clamp(2rem, 1rem, 4rem);
}

